:root {
  --text-color: #070707;
  --gray-color: #828282;
  --bg-gray-color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  width: min(90%, 1440px);
  margin-inline: auto;
}

header .container {
  border-bottom: 1px solid var(--gray-color);
  padding: 25px 0;
}

.main-menu {
  line-height: 30px;
}

.main-menu ul {
  text-align: center;
  font-size: 0;
}

.main-menu ul li {
  display: inline;
  margin: 20px;
  font-size: 1.125rem;
}

.main-menu ul li a {
  line-height: 30px;
  color: var(--gray-color);
  text-decoration: none;
}

.main-menu ul li a:hover {
  color: var(--text-color);
}

.first-block {
  margin-top: 12px;
}

.first-block img {
  width: 100%;
}
.bold-text {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  margin-bottom: 45px;
}

.about {
  background-color: var(--bg-gray-color);
  text-align: center;
  padding: 100px 0;
}

.about h2 {
  font-size: 2.125rem;
  margin-bottom: 50px;
  font-weight: bold;
}

.about p {
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 1.6;
}

.skills {
  text-align: center;
  padding: 100px 0;
}

.skills h1 {
  margin-bottom: 20px;
}

.skills p {
  margin-bottom: 20px;
  font-size: 18px;
}

.skills .cards {
  text-align: center;
  font-size: 0;
  margin-top: 50px;
}

.skills .cards ul {
  display: flex;
  gap: 97px;
  font-size: 1.125rem;
  justify-content: center;
}

.skills figcaption {
  margin-top: 25px;
}

.skills .rating {
  margin-top: 60px;
}

.rating img.gray {
  opacity: 0.1;
}

.portfolio {
  text-align: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 100px 0;
}

.portfolio h2 {
  margin-bottom: 50px;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.portfolio img {
  margin-bottom: 50px;
}
.portfolio a {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  display: inline-block;
  word-wrap: break-word;
}

.contacts {
  padding: 40px 0;
  text-align: center;
  margin-top: 100px;
}

.contacts h2 { 
  margin-bottom: 20px;
}

.contacts p {
  font-size: 18px;
  margin-bottom: 60px;
}

.message-btn .btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px; 
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;

  margin-bottom: 60px;
  margin-top: 30px;
}

.social-text {
  text-align: center;
  font-size: 16px;
  color: gray;
  max-width: 300px;
  margin: 0 auto;
}

.social-text p {
  line-height: 1.6;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.contacts hgroup {
  color: black; 
}
